@font-face {
    font-family: 'Creamy Sugar';
    src: url('../resources/CreamySugar-gxnGR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar-title {
    color: white;
    font-family: 'Creamy Sugar';
    font-size: 3em;
}